{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}


	
	{% if is_granted('ROLE_ADMIN') %}


	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Nos Articles</h5>
			<table class="table">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Email</th>
					<th scope="col">Roles</th>
					<th scope="col">Nom</th>
					<th scope="col">Prenom</th>
					<th scope="col">actions</th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
		</table>
		</div>
	</div>
	{% endif %}


	{% if is_granted('ROLE_ADMIN') %}
		<h1>Article index</h1>
	{% else %}


	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Vos articles</h5>
			<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Titre</th>
					<th>Description</th>
					<th>Contenu</th>
					<th>Datedecreation</th>
					<th>Auteur</th>
					<th>Statut</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for article in articles %}
					<tr>
						<td>{{ article.id }}</td>
						<td>{{ article.titre }}</td>
						<td>{{ article.description }}</td>
						<td>{{ article.contenu }}</td>
						<td>{{ article.datedecreation ? article.datedecreation|date('Y-m-d') : '' }}</td>
						<td>{{article.user.nom}}</td>
						<td>{{ article.statut }}</td>
						<td>
							<a href="{{ path('app_article_show', {'id': article.id}) }}">voir/</a>
							<a href="{{ path('app_article_edit', {'id': article.id}) }}">modifier/</a>
                            	<a href="{{ path('app_article_new') }}">Créer</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="8">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
        </div>
        </div>
	{% endif %}



	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Données Profil</h5>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Email</th>
						<th scope="col">Roles</th>
						<th scope="col">Nom</th>
						<th scope="col">Prénom</th>
                        <th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
                {% if app.user %}
					<tr>
						<th scope="row">1</th>
						<td>{{ app.user.email }}</td>
						<td>{{ app.user.roles ? app.user.roles|json_encode : '' }}</td>
						<td>{{ app.user.nom }}</td>
						<td>{{ app.user.prenom }}</td>
                        <td>
						<a href="{{ path('app_profil_edit') }}">edit</a>
						<a href="{{ path('app_profil_delete') }}">delete</a>
					</td>
					</tr>
					
                    {% else %}
					<tr>
						<th scope="row">Error</th>
						<td>Error</td>
						<td>Error</td>
						<td>Error</td>
						<td>Error</td>
					</tr>

                    {% endif %}
				</tbody>
			</table>
		</div>
	</div>

	
{% endblock %}

